SERVER_URL="mysite.com"
STRIPE_KEY="aaabbbcccddd"
STRIPE_SECRET="eeefffggghhh"
AUTH_SECRET="iiijjjkkklll"
DATABASE_DSN="host=localhost user=gorm password=gorm dbname=wedding port=5432 sslmode=disable TimeZone=America/Sao_Paulo"
DATABASE_AUTOMIGRATE="true"

POSTGRES_USER="gorm"
POSTGRES_PASSWORD="gorm"
POSTGRES_DB="wedding"

TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=""

USE_STATIC_STORE="false"
USE_SYNC="true"
STATIC_DIR=""
