FRONT_URL="mysite.com"
SERVER_URL="mysite.com/api"
STRIPE_KEY="aaabbbcccddd"
STRIPE_SECRET="eeefffggghhh"
STRIPE_WEBHOOK_SECRET="iiijjjkkklll"
AUTH_SECRET="mmmnnnoooppp"
DATABASE_DSN="host=localhost user=gorm password=gorm dbname=wedding port=5432 sslmode=disable TimeZone=America/Sao_Paulo"
DATABASE_AUTOMIGRATE="true"

POSTGRES_USER="gorm"
POSTGRES_PASSWORD="gorm"
POSTGRES_DB="wedding"

BACKEND_HOST=server
BACKEND_PORT=8082
VITE_API_URL="http://localhost:8082"
VITE_FRONT_URL="http://localhost:8086"

TELEGRAM_TOKEN=""
TELEGRAM_CHAT_ID=""

USE_STATIC_STORE="false"
USE_SYNC="true"
STATIC_DIR=""
ALLOW_ORIGINS="http://localhost:8086"
