SERVER_URL="mysite.com"
STRIPE_KEY="aaabbbcccddd"
STRIPE_SECRET="eeefffggghhh"
AUTH_SECRET="iiijjjkkklll"
DATABASE_DSN="host=localhost user=gorm password=gorm dbname=wedding port=5432 sslmode=disable TimeZone=America/Sao_Paulo"
DATABASE_AUTOMIGRATE="true"